/*Estilos Generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
h1{
    font-size: 2.5rem;
}
.seccion-oscura{
    color: #f5f6f7;
    background-color: #1b1b32;
}
.seccion-titulo{
    font-size: 3rem;
    padding: 15px 0;
    font-family: 'Days One', sans-serif;
    align-items: center;

}
.seccion-texto{
    font-size: 1.2rem;
}
/*Barra de Navegacion*/
.navbar{
    padding: 2rem;
    background-color:#303030;
}
.logo{
    height: 75px;
    width: 75px;
}
/*Seccion Hero*/
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
}
.hero-img-curriculum{
 height: 300px;
 width: 300px;
 margin: 20px;
}
.hero-principal {
    padding: 3rem;
}
.hero-static-txt {
    color: rgb(168, 38, 98);
    font-size: 60px;
    font-weight: 400
}
.hero-dynamic-txts {
    margin-left: 20px;
    height: 90px;
    line-height: 90px;
    overflow: hidden
}
.hero-dynamic-txts li {
    list-style: none;
    color: rgb(168, 38, 98);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite
}
@keyframes slide {
    100% {
        top: -360px;
    }
}
.hero-dynamic-txts li span {
    position: relative;
    margin: 2px 0;
    line-height: 90px;
}
.hero-dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    background: #f5f6f7;
    border-left: 2px solid rgb(168, 38, 98);
    animation: typing 3s steps(20) infinite
}
@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px)
    }
    100% {
        left: 0
    }
}
/*Sobre Mi*/
.sobre-mi{
    height: auto;
    padding: 20px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/*Habilidades*/
.habilidades{
    min-height: 450px;
}
.habilidades-icon{
    list-style: none;
    font-size: 4.5rem;
    transition-property:color;
    transition-duration: 0.25s;
}
.habilidades-icon .bi-filetype-html:hover {
    color: rgb(230,76,24);
}

.habilidades-icon .bi-filetype-css:hover {
    color: rgb(0,150,220);
}
.habilidades-icon .bi-filetype-js:hover {
    color: rgb(242,203,0);
}
.habilidades-icon .bi-filetype-java:hover {
    color: rgb(236,32,37);
}
.habilidades-icon .bi-git:hover {
    color: rgb(228,76,48);
}
.habilidades-icon .bi-github:hover {
    color: #2ea44f;
}
.habilidades-icon .bi-bootstrap:hover {
    color: rgb(139,18,252);
}
.habilidades-icon .bi-trello:hover {
    color: #44546F;
}
.habilidades-icon .bi-lightning:hover {
    color: #0176d3;
}
/*Experiencia*/
#experiencia .nav{
    margin-left: 30px;
    max-width: 100%;  
}
.nav-pills .nav-link{
    
    --bs-nav-pills-link-active-bg: rgb(168, 38, 98);
    --bs-nav-link-color:rgb(168, 38, 98);
    --bs-nav-link-hover-color: rgb(178, 28, 70);
}
.tab-content{
    justify-content: center;
}
/*Proyectos*/
.carousel-item img{
    filter:blur(5px) brightness(50%);
}
.carousel-caption{
    align-items: center;
}
.proyecto-link{
    color: rgb(168, 38, 98);
}
/*Footer*/
.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, backgroud-color;
    transition-duration: 0.25s;
}
.icon:hover {
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake 0.25s;
}
.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}
.icon--facebook:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}











/*Responsividad*/
@media screen and (max-width:826px){
    .hero-static-txt {
        color: rgb(168, 38, 98);
        font-size: 40px;
        font-weight: 400
    }
    .hero-dynamic-txts {
        margin-left: 0px;
        height: 90px;
        line-height: 90px;
        overflow: hidden
    }
    .hero-dynamic-txts li {
        list-style: none;
        color: rgb(168, 38, 98);
        font-size: 25px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite
    }
    @keyframes slide {
        100% {
            top: -360px;
        }
    }
    .hero-dynamic-txts li span {
     
        line-height: 90px;
    }
    .hero-dynamic-txts li span::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 110%;
        width: 100%;
        background: #f5f6f7;
        border-left: 2px solid rgb(168, 38, 98);
        animation: typing 3s steps(20) infinite
    }
    @keyframes typing {
        40%, 60% {
            left: calc(100% + 30px)
        }
        100% {
            left: 0
        }
    }
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    .seccion-titulo{
        font-size: 45px;
    }
    .habilidades-icon{
        font-size: 4rem;
    }
}
